mixin month(date, interest, principal, balance)
  +row("month", date, interest, principal, balance)

mixin year(year, interest, principal, balance)
  +row("year", year, interest, principal, balance)

mixin row(type, date, interest, principal, balance)
  tr(class=type || "month")
    //- Date
    td=date
    //- Interest
    td=interest
    //- Principal
    td=principal
    //- Balance
    td=balance
